<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Save</button>
          <a class="btn-danger">Cancel</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name"> Title</label>
            <input type="text" id="name" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-url"> image url</label>
            <input type="text" id="image-url" class="form-control">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <div class="img">
            <img src="" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-url">Content</label>
            <textarea id = "content" type = "text" class="form-control" rows="6"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group">
            <div class="row">
              <div>
                <div class="col-sm-5"><input type="text" class="form-control"></div>
                <div class="col-sm-5"><input type="text" class="form-control"></div>
                <div class="col-sm-2"><input type="text" class="btn btn-danger">X</div>
              </div>
              <br><br>
            </div>
          </ul>
        </div>
      </div>


    </form>
  </div>
</div>
